
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');


.open-sans-font{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
    
    background: 
    url("../assets/bg.png"),
    linear-gradient(to top, rgba(255, 228, 181, 1) 1.2rem,#ffffff 60%);
    max-width: 1160px;
    margin: 0 auto;
}
/* share styel */
.display{
    display: flex;
    
    
   
}

/* nav styel */
.navbar{
    gap: 185px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 18px 140px;
    

}
.menu{
    display: none;
}
.nav-num2{
    gap: 34px;
    margin-top: 18px;
    font-size: 1.2rem;
    
}
#span-1{
    color: orange;
    font-size: 1.2rem;
    font-weight: bold;
}

#span-2{
    color: rgba(1, 172, 253, 1);
}
#span-3{
    color: rgba(5, 212, 223, 1);
}
#span-4{
    color: rgba(93, 88, 239, 1);
}
.nav-num3{
    margin-top: 6px;
   
}
.button-primary{
    font-size: 1.2rem;
    font-weight: 600px;
    color: white;
    padding: 9.6px;
    border-radius: 12px;
    background-color: orange;
    border: none;
    width: 197px;
}
/*  head-discription */
.head-discription{
    justify-content: center;
    gap: 50px;
    margin-left: 144px;
    
}
#Empowering{
   
    color: orange;
    font-size: 3.4rem;
    font-weight: bold;
}

#hd-3{
    font-size: 3.4rem;
    font-weight: bold;
}

#towards{
    color: rgba(1, 172, 253, 1);
    font-size: 3.4rem;
    font-weight: bold;
}
.head-para{
    margin-top: 140px ; 
    gap: 24px;
}
.head-data{
    font-size: 1.3rem;
    color: rgba(17, 17, 17, 1);
}
.btn-2{
    border: none;
    border-radius: 12px;
    color: white;
    background-color: black;
    width: 192px;
    height: 50px;
}
.header{
    gap: 0px;
    line-height: 61px;
    text-align: left;
    border: none;
    padding: none;
    
}
/* cart styel */
.cart-head{
    font-weight: bold;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
}
.cart1{
    padding: 20px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.cart-discription{
    color: rgba(68, 68, 68, 1);
    font-size: 1rem;
    line-height: 28px;
    text-align: center;
}
.cart-btn1{
    color: rgba(100, 200, 255, 1);
    border: none;
    background-color: white;
}
.cart-btn2{
    color: rgba(240, 170, 0, 1);
    border: none;
    background-color: white;
}
.cart-btn3{
color: rgba(135, 0, 255, 1);
background-color: white;
border: none;
}

.cart2{
    padding: 20px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
    
.cart3{
    padding: 20px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

}
.main-cart{
    
    gap: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

}
.cart-head{
    font-size: 2.87rem;
    font-weight: 700;
    padding: 60px 0px 60px 0px;
}
.arrow {
    border: none;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 900;
    margin: 60px 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.arrow-btn{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.arrow-btn :hover{
    background-color: darkgray;
}
/* story styel */
.standard-header{
    font-size: 2.3rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-cart1{
    max-width: 540px;
    max-height: 630px;
    background-color:white;
    border-radius: 16px;
  }
  .cart{
    transform: translate(20px,-30px);

}
.cart-small{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
   
  }
  .img-radius{
    border-radius: 16px 16px 0 0 ;
    width: 100%;
  }

.small-cart{
  background-color: white;
  border-radius: 16px ;
  max-height: 301px;
}

.story-section{
  display: flex;
  gap: 20px;
}

.hidden-cart{
  display: none;
}
.view-btn{
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    text-align: center;
  }
  .story-head{
    padding-top: 58px;
    padding-left: 38px;
    font-size: 1.4rem;
  }
  #stry-dis{
    color: rgba(102, 102, 102, 1);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 34px;
    padding-bottom: 38px;
  }
  .story-head2{
    font-size: 0.9rem;
   padding: 38px 38px ;
  }
  .stry-btn{
    border: none;
    border-radius: 12px;
    background-color: black;
    color: #ffffff;
    width: 197px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
  }

/* Footer styles */
footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
    background: rgba(1, 172, 253, 1);
    color: #fff;
    margin-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    display: flex;
}

.footer-content h2 {
    margin: 0;
    font-size: 1.8rem;
    font-size: 2rem;
    font-weight: 700;
}

footer p {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: left;

}

.footer-links ul li {
    margin-bottom: 10px;
}
.social img {
    height: 30px;
    margin-right: 10px;
}
.footer-links ul li a {
    text-decoration: none;
    color: #fff;
}
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 576px) {
    header {
        border: 1px solid orange;
    }

    .nav-num2,
    .button-primary {
        display: none;
    }

    .menu {
        display: flex;
        align-items: right;
    }
    #school {
        display: none;
    }

    .head-discription {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .head-para {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 0 auto;
        padding: 0 18px;
    }

    .arrow {
        display: none;
    }

    .story-card-1 {
        display: none;
    }

    .image-cart1{
        display: none;
      }
      .hidden-cart{
        display: block;
      }
      .cart{
        transform: translate(8px,-20px);
      }
      
      .primary-button{
        width: 120px;
        height: 30px;
        font-weight: 600;
        font-size: 0.8rem;
        color: white;
        border-radius: 10px;
      }
  
    .footer-container{
        flex-direction: column;
    }
}


    
